{% extends "layouts/base.html" %}

{% load static %}
{% block title %} Library - SongGTP {% endblock %}
{% block import %}
    <link href="{% static 'css/song.css' %}" rel="stylesheet">
{% endblock %}
{% block body %} 
    <header>
        {% include "components/main-nav.html" with page="library"%}
    </header>

    <main>
        <section id="song" class="py-5">
            <div class="container">
                <div class="row">
                    <div class="offset-1 col-11">
                        <a href="{% url 'library' %}">
                            <button class="btn mb-2 back-button fw-bold px-0">
                                <i class="bi bi-arrow-left-short"></i>
                                back to library
                            </button>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="offset-1 col-5">
                        <img src="https://images.unsplash.com/photo-1511192336575-5a79af67a629?w=600&h=420&fit=crop" class="w-100 rounded mt-2 mb-2 image-height">
                        <div class="row mt-2">
                            <div class="col-6">
                                <button class="btn btn-light w-100">
                                    <i class="bi bi-download"></i>
                                    Download
                                </button>
                            </div>
                                
                            <div class="col-6 ">
                                <button class="btn btn-light w-100">
                                    <i class="bi bi-share"></i>
                                    Share
                                </button>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-5">
                        <h1 class="fw-bold mb-2 fs-title">
                            Neon Dream
                        </h1>
                        <p class="text-secondary">
                            AI Composer Suno api
                        </p>
                        <div class="gap-2 mt-2">
                            <span class="badge rounded bg-light text-dark border px-2 py-1 fw-medium">Rock</span>
                            <span class="badge rounded bg-mood px-2 py-1 fw-medium">Relax</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    {% include "components/footer.html"%}
{% endblock %}
