SUNO_API_KEY="use ur own key"
STRAT_CHOSEN="MOCK"

# Kasama masao = "ffea4d1673c5afc4dd1722d08e387de6"
# Ku account = "85dbd9b1c1a7664e4245e0048296b4a7"
# main Sandee = "e651b840f12c25567c09d97bf49390ee"
# jirakorn working = "84635b543daa3f42cd6bb1d358184a5b"
# mahidol account = "80aaa715b8dc98bf9e440ff631f6d769"

# Google OAuth Configuration
GOOGLE_OAUTH_CLIENT_ID="Read in read me"
GOOGLE_OAUTH_CLIENT_SECRET="Read in read me"
BASE_URL="http://localhost:8000/"