<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Prompt</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>

<body>
    <div class="container-fluid">
        <div class="row mt-5 mb-4">
            <div class="offset-3 col-6">
                <form method="GET">
                    {% csrf_token %}
                    <h2 class="mb-3">Search Prompt</h2>
                    <div class="input-group mb-3">
                        <input type="text" name="song_name" placeholder="Enter song name to search prompt"
                            class="form-control" value={{request.GET.song_name}}>
                        <button type="submit" class="btn btn-primary">
                            search
                        </button>
                    </div>
                </form>
            </div>

            <div class="offset-3 col-6">
                {% if messages %}
                <div>
                    {% for msg in messages %}
                    {% if msg.tags == "success" %}
                    <span class="text-success fw-bold">
                        {{ msg }}
                    </span>
                    {% else %}
                    <span class="text-danger fw-bold">
                        {{ msg }}
                    </span>
                    {% endif %}
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="offset-1 col-10">
                <table class="table">
                    <thead class="table-light">
                        <tr>
                            <th>Action</th>
                            <th>ID</th>
                            <th>Song Name</th>
                            <th>Genre</th>
                            <th>Mood</th>
                            {% comment %} <th>Base Singer</th> {% endcomment %}
                            <th>Description</th>
                            <th>Lyrics</th>
                            <th>Keywords</th>
                            <th>Created At</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for prompt in prompts %}
                        <tr>
                            <td>
                                <i class="bi bi-trash text-danger fs-4 me-2" style="cursor: pointer;"
                                    onClick="clickDelete({{ prompt.id }})"></i>
                                <a href="/update-prompt/?id={{ prompt.id }}">
                                    <i class="bi bi-pencil-fill fs-4"></i>
                                </a>
                            </td>
                            <td>{{ prompt.id }}</td>
                            <td>{{ prompt.song_name }}</td>
                            <td>{{ prompt.song_genre }}</td>
                            <td>{{ prompt.song_mood }}</td>
                            <td>{{ prompt.generation_status }}</td>
                            <td>{{ prompt.description }}</td>
                            <td>{{ prompt.lyrics }}</td>
                            <td>{{ prompt.keywords }}</td>
                            <td>{{ prompt.created_at }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

<script>
    function clickDelete(id) {
        const flag = confirm("Press a button!\nEither OK or Cancel.");
        if (flag) {
            window.location.href = "/delete-prompt/?id=" + id
        }
    }
</script>

</html>