<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Prompt</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="offset-3 col-6">
                <div class="card">
                    <h3 class="card-header">Update Prompt</h3>
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-6 mb-2">
                                    <label for="" class="form-label">Song Name:</label>
                                    <input type="text" name="song_name" class="form-control"
                                        value="{{ prompt.song_name }}">
                                </div>
                                <div class="col-6 mb-2">
                                    <label for="" class="form-label">Genre:</label>
                                    <select name="song_genre" class="form-select">
                                        {% if prompt.song_genre == 'pop' %}
                                        <option value="pop" selected>Pop</option>
                                        {% else %}
                                        <option value="pop">Pop</option>
                                        {% endif %}
                                        {% if prompt.song_genre == 'rock' %}
                                        <option value="rock" selected>Rock</option>
                                        {% else %}
                                        <option value="rock">Rock</option>
                                        {% endif %}
                                        {% if prompt.song_genre == 'heavy_metal' %}
                                        <option value="heavy_metal" selected>Heavy Metal</option>
                                        {% else %}
                                        <option value="heavy_metal">Heavy Metal</option>
                                        {% endif %}
                                        {% if prompt.song_genre == 'soft_rock' %}
                                        <option value="soft_rock" selected>Soft Rock</option>
                                        {% else %}
                                        <option value="soft_rock">Soft Rock</option>
                                        {% endif %}
                                        {% if prompt.song_genre == 'pop_rock' %}
                                        <option value="pop_rock" selected>Pop Rock</option>
                                        {% else %}
                                        <option value="pop_rock">Pop Rock</option>
                                        {% endif %}
                                        {% if prompt.song_genre == 'country' %}
                                        <option value="country" selected>Country</option>
                                        {% else %}
                                        <option value="country">Country</option>
                                        {% endif %}
                                    </select>
                                </div>
                                <div class="col-6 mb-2">
                                    <label for="" class="form-label">Mood:</label>
                                    <select name="song_mood" class="form-select">
                                        {% if prompt.song_mood == 'happy' %}
                                        <option value="happy" selected>Happy</option>
                                        {% else %}
                                        <option value="happy">Happy</option>
                                        {% endif %}
                                        {% if prompt.song_mood == 'sad' %}
                                        <option value="sad" selected>Sad</option>
                                        {% else %}
                                        <option value="sad">Sad</option>
                                        {% endif %}
                                        {% if prompt.song_mood == 'romantic' %}
                                        <option value="romantic" selected>Romantic</option>
                                        {% else %}
                                        <option value="romantic">Romantic</option>
                                        {% endif %}
                                        {% if prompt.song_mood == 'angry' %}
                                        <option value="angry" selected>Angry</option>
                                        {% else %}
                                        <option value="angry">Angry</option>
                                        {% endif %}
                                        {% if prompt.song_mood == 'energetic' %}
                                        <option value="energetic" selected>Energetic</option>
                                        {% else %}
                                        <option value="energetic">Energetic</option>
                                        {% endif %}
                                        {% if prompt.song_mood == 'calm' %}
                                        <option value="calm" selected>Calm</option>
                                        {% else %}
                                        <option value="calm">Calm</option>
                                        {% endif %}
                                    </select>
                                </div>
                                {% comment %} <div class="col-6 mb-2">
                                    <label for="" class="form-label">Base Singer:</label>
                                    <input type="text" name="song_base_singer" class="form-control"
                                        value="{{ prompt.song_base_singer }}">
                                </div> {% endcomment %}
                                <div class="col-12 mb-2">
                                    <label for="" class="form-label">Description:</label>
                                    <input type="text" name="description" class="form-control"
                                        value="{{ prompt.description }}">
                                </div>
                                <div class="col-12 mb-2">
                                    <label for="" class="form-label">Lyrics:</label>
                                    <textarea name="lyrics" class="form-control" rows="3">{{ prompt.lyrics }}</textarea>
                                </div>
                                <div class="col-12 mb-2">
                                    <label for="" class="form-label">Keywords:</label>
                                    <textarea name="keywords" class="form-control mb-3"
                                        rows="2">{{ prompt.keywords }}</textarea>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success mt-1 mb-3">submit</button>
                            {% if messages %}
                            <div>
                                {% for msg in messages %}
                                {% if msg.tags == "success" %}
                                <span class="text-success fw-bold">
                                    {{ msg }}
                                </span>
                                {% else %}
                                <span class="text-danger fw-bold">
                                    {{ msg }}
                                </span>
                                {% endif %}
                                {% endfor %}
                            </div>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>