p {
    margin: 0;
}

.fs-title {
    font-size: 2.25rem;
}

.fs-subtitle {
    font-size: 1.5rem;
}

.fs-subtitle-2 {
    font-size: 1.125rem;
}

.fs-xl {
    font-size: 1.25rem;
}

.fs-3xl {
    font-size: 1.875rem;
}

.other-section {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

/* ── Brand Colors ── */
.bg-brand {
    background-color: #0f763f;
}

.text-brand {
    color: #0f763f;
}

.bg-mood {
    background-color: #0b4393;
    color: #ffffff;
}

/* navbar */

.navbar-nav a.nav-link,  a.nav-link{
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    border-radius: 0.6rem;
}

.navbar-nav a.nav-link.active  {
    background-color: #fff;
    color: #0f763f;
} 