<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Song</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="offset-3 col-6">
                <div class="card">
                    <h3 class="card-header">Create Song</h3>
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-6 mb-2">
                                    <label for="" class="form-label">Prompt:</label>
                                    <select name="prompt" class="form-select">
                                        <option value="">-- Select Prompt --</option>
                                        {% for prompt in prompts %}
                                        <option value="{{ prompt.id }}">{{ prompt.song_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-6 mb-2">
                                    <label for="" class="form-label">Library:</label>
                                    <select name="library" class="form-select">
                                        <option value="">-- Select Library --</option>
                                        {% for library in libraries %}
                                        <option value="{{ library.id }}">{{ library.user.username }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-6 mb-2">
                                    <label for="" class="form-label">Song Name:</label>
                                    <input type="text" name="song_name" class="form-control">
                                </div>
                                <div class="col-6 mb-2">
                                    <label for="" class="form-label">Shared Link:</label>
                                    <input type="text" name="shared_link" class="form-control">
                                </div>
                                <div class="col-6 mb-2">
                                    <label for="" class="form-label">Sharing Status:</label>
                                    <select name="sharing_status" class="form-select">
                                        <option value="private">Private</option>
                                        <option value="public">Public</option>
                                    </select>
                                </div>
                                <div class="col-6 mb-2">
                                    <label for="" class="form-label">Generation Status:</label>
                                    <select name="generation_status" class="form-select">
                                        <option value="generating">Generating</option>
                                        <option value="generated">Generated</option>
                                        <option value="error">Error</option>
                                    </select>
                                </div>
                                <div class="col-12 mb-2">
                                    <label for="" class="form-label">Song URL:</label>
                                    <input type="text" name="song_url" class="form-control">
                                </div>
                                <div class="col-12 mb-2">
                                    <label for="" class="form-label">Description:</label>
                                    <textarea name="description" class="form-control" rows="3"></textarea>
                                </div>
                                <div class="col-12 mb-2">
                                    <label for="" class="form-label">Lyrics:</label>
                                    <textarea name="lyrics" class="form-control mb-3" rows="3"></textarea>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success mt-1 mb-3">submit</button>
                            <div>
                                <span class="text-success fw-bold">
                                    {% for msg in messages %}
                                    {{ msg }}
                                    {% endfor %}
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>