<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Search Song</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row mt-5 mb-4">
                <div class="offset-3 col-6">
                    <form method="GET"> 
                        {% csrf_token %} 
                        <h2 class="mb-3">Search Song</h2>
                        <div class="input-group mb-3">
                            <input type="text" name="song_name" placeholder="Enter song name to search" class="form-control" value={{request.GET.song_name}}>
                            <button type="submit" class="btn btn-primary">
                                search
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="offset-1 col-10">
                    <table class="table">
                        <thead class="table-light">
                            <tr>
                                <th>Action</th>
                                <th>ID</th>
                                <th>Song Name</th>
                                <th>Prompt</th>
                                <th>Library</th>
                                <th>Sharing Status</th>
                                <th>Generation Status</th>
                                <th>Song URL</th>
                                <th>Description</th>
                                <th>Created At</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for song in songs %}
                                <tr>
                                    <td></td>
                                    <td>{{ song.id }}</td>
                                    <td>{{ song.song_name }}</td>
                                    <td>{{ song.prompt.song_name }}</td>
                                    <td>{{ song.library.user.username }}</td>
                                    <td>{{ song.sharing_status }}</td>
                                    <td>{{ song.generation_status }}</td>
                                    <td>{{ song.song_url }}</td>
                                    <td>{{ song.description }}</td>
                                    <td>{{ song.created_at }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>