<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="offset-3 col-6">
                <div class="card">
                    <h3 class="card-header">Create user</h3>
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %} 
                            <div class="row">
                                <div class="col-6 mb-2">
                                    <label for="" class= "form-label">Firstname:</label>
                                    <input type="text" name="first_name" class="form-control">
                                </div>
                                <div class="col-6 mb-2">
                                    <label for="" class= "form-label">Lastname:</label>
                                    <input type="text" name="last_name" class="form-control">
                                </div>
                                <div class="col-6 mb-2">
                                    <label for="" class = "form-label">Email:</label>
                                    <input type="text" name="email" class = "form-control">
                                </div>
                                <div class="col-6 mb-2">
                                    <label for="" class = "form-label">Username:</label>
                                    <input type="text" name="username" class = "form-control">
                                </div>
                                <div class="col-6 mb-2">
                                    <label for="" class = "form-label">Password:</label>
                                    <input type="password" name="password" class = "form-control mb-3">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success mt-1 mb-3">submit</button>
                            {% if messages %} 
                            {% comment %} if messages mean if there is message run theses thing if not it will be false anyway {% endcomment %}
                            <div>
                                {% for msg in messages %}
                                    {% if msg.tags == "success" %}
                                        <span class = "text-success fw-bold">
                                            {{ msg }}
                                        </span>
                                    {% else %}
                                        <span class="text-danger fw-bold">
                                            {{ msg }}
                                        </span>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>