{% load static %}
<footer class="py-4 border-top">
    <div class="container">
        <div class="row">
            <div class="col-12">
                If you are generating song using suno please reload the page every 20 second to get your song
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="m-0 small text-secondary text-center">
                    © 2026 SongGTP. All rights reserved.
                </p>
                <p class="m-0 mt-1 small text-secondary text-center">
                    Powered by
                    <a href="#" class="text-secondary text-decoration-none fw-bold footer-link">
                        Suno API
                    </a>
                </p>
            </div>
        </div>
    </div>
</footer>